@model dynamic

@{
    ViewBag.Title = "Sähköpostiosoite on jo käytössä";
}

<h2>Antamasi sähköpostiosoite on jo käytössä, yhdellä sähköpostilla voi rekisteröityä vain kerran</h2>

<p>
    Jos et saa rekisteröintiä onnistumaan ota yhteyttä <a href="mailto:info@kerkesix.fi">info@kerkesix.fi</a> . 
</p>