@model dynamic

@{
    ViewBag.Title = "Ilmoittautumisen vahvistus epäonnistui";
}

<h2>Ooops... ilmoittautuminen kaatui tuntemattomaan virheeseen</h2>
<img src="/images/Fail.gif"/>
<p>
    Kokeile vahvistusta hetken päästä uudelleen. Jos ei auta, niin ota 
    yhteyttä <a href="mailto:info@kerkesix.fi">info@kerkesix.fi</a> niin 
    eiköhän tämäkin ongelma ratkea. 
</p>
<a href="https://satku.kerkesix.fi" class="btn btn-info">Satkuseurannan etusivulle</a>