@model dynamic

@{
    ViewBag.Title = "Ilmoittautuminen ei ole vielä auki";
}

<div class="well">
    <h1>Ilmoittautuminen ei ole vielä auki</h1>
    <p>
        Odota rauhassa... käy odottaessa vaikka kävelyllä. 
    </p>
</div>