@model dynamic

@{
    ViewBag.Title = "Ilmoittautuminen on suljettu";
}

<div class="well">
    <h1>Ilmoittautuminen on jo suljettu</h1>
    <p>
        Tarkkaile <a href="https://www.facebook.com/groups/311996415606111/">Facebook-sivuamme</a>, ilmoittautuminen saatetaan avata vielä hetkeksi myöhemmin. 
    </p>
</div>