@model dynamic

@{
    ViewBag.Title = "Ilmoittaudu Sysimustalle Satkulle kävelijäksi";
}

<h2>Sait paikan Satkulle!</h2>
<img src="/images/Success2.gif" alt="Onnea... kai?" />
<p>
    Saat sähköpostilla viestin, josta saat lisätietoja tapahtumasta, sekä
osallistumismaksun maksuohjeet.
</p>
<p>
    Nähdään Sysimustalla Satkulla!
</p>
<a href="https://satku.kerkesix.fi" class="btn btn-info">Satkuseurannan etusivulle</a>
