@model dynamic

@{
    ViewBag.Title = "Ilmoittaudu Sysimustalle Satkulle kävelijäksi";
}

<h2>Ilmoittautuminen on vastaanotettu ja odottaa vahvistusta</h2>
<p>
    Ilmoittautumisesi on vastaanotettu, mutta odottaa vahvistusta. Saat kohta vahvistussähköpostin jolla varmistamme, 
    että antamasi sähköpostiosoite toimii ja siten saamme sinut myöhemmin kiinni. Kun klikkaat sähköpostissasi olevaa 
    vahvistuslinkkiä, saat vielä erillisen tiedon ilmoittautumisen onnistumisesta.
</p>
<a href="https://satku.kerkesix.fi" class="btn btn-info">Satkuseurannan etusivulle</a>
