@model dynamic
<spa-view name="edithappenings">
    <h1>Muokkaa tapahtumalistaa</h1>

    <span class="help-block">Valitse alta oletustapahtuma. 
        Oletustapahtuma on se tapahtuma, johon rekisteröinnit 
        kohdistuvat, ja joka aukeaa oletuksena kun navigoidaan 
        satkusivuille. Vanhoja pääsee katsomaan muuttamalla osoitteen 
        selaimen osoiteriviltä. Tapahtumia saa poistaa niin kauan kuin 
        niissä ei ole yhtään huoltopistettä.</span>

    <div data-bind="foreach: happenings">
        <div class="radio">
            <label>
                <input type="radio" name="happenings" data-bind="checked: $root.defaultHappening, value: Key "/>
                <!--ko text: Key--><!--/ko-->
            </label>
            
            <a data-bind="attr: { href: '/' + Key() + '/edit/checkpoints' }" style="margin-right: 20px;">Huoltopisteet...</a>
            
            <a href="#" data-bind="click: toggleCoordinatesOpen">Lisää reittipolku</a>
            <a data-bind="click: $root.deleteHappening.bind($root), visible: CheckpointCount() === 0">Poista</a>
            
            <div data-bind="visible: CoordinatesOpen" class="mt-1 mb-4">
                <form data-bind="submit: addCoordinates" role="form" action=".">
                    <textarea data-bind="value: Coordinates" class="form-control"></textarea>
                    <div>
                        <button type="button" class="btn" data-bind="click: toggleCoordinatesOpen">Peru</button>
                        <button type="button" class="btn" data-bind="click: parseKmlFormat">Parsi KML-koordinaatit</button>
                        <button type="submit" class="btn btn-default">Tallenna</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div>
        <h2>Luo uusi tapahtuma</h2>
        <form role="form" method="post" action="." data-bind="with: newHappening, submit: saveNewHappening.bind($root)">
            <div class="form-group">
                <label for="key">Tunniste</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="key" 
                    data-bind="value: Key"
                    required="required"
                    pattern="[a-z,0-9]{1,20}"
                    title="Tapahtuman tunnisteen pitää olla korkeintaan 20-merkkinen ja se saa koostua vain pienistä kirjaimista, ja numeroista."
                    placeholder="tunniste"/>
            </div>
            <button type="submit" class="btn btn-default">
                <i class="fa fa-plus-sign-alt"></i>&nbsp;
                Luo uusi
            </button>
        </form>
    </div>
</spa-view>