@model dynamic
<spa-view name="about">
    <div class="jumbotron">
        <h1>Täh?</h1>
        <h4>
            Sysimusta satku?
        </h4>
        <p>
            <a target="_blank" href="http://kerkesix.fi/sysimusta-satku">Sysimusta Satku</a>
            on <a target="_blank" href="http://kerkesix.fi/">Kerkesix ry:n</a>
            järjestämä leikkimielinen maaottelu omaa pahaa mieltä vastaan.
            Homman "idea" on kävellä 100 km hyvässä seurassa vuoden pimeimpään aikaan. Lisää tietoa
            tapahtumasta saat vierailemalla <a target="_blank" href="http://kerkesix.fi/sysimusta-satku">Kerkesix ry:n satkusivuilla</a> tai
            <a target="_blank" href="https://www.facebook.com/groups/5597988858/">Facebook-ryhmästä</a>.
        </p>

        <h4>
            Satkuseuranta
        </h4>
        <p>
            Tämä sivusto on tehty kävelijöiden seurantaan matkan varrella. Sivustosta on iloa sekä
            järjestäjille, kävelijöille itselleen, että kävelijöiden läheisille.
        </p>
        <p style="margin-bottom: 30px;">
            Sivusto toimii <b>uusilla älypuhelimilla</b> ja <b>uusilla selaimilla</b>.
        </p>

        <p>
            <a href="/" class="btn btn-primary btn-lg">
                <i class="fa fa-inverse fa-check"></i> Okei, tajusin, päästä minut takaisin etusivulle
            </a>
        </p>
    </div>
</spa-view>