<spa-view name="404">
    <h1>Hups!</h1>
    <h4>
        No nyt on niin pimeää ettei edes sivua löydy. 
    </h4>
    <p>
        <a href="/" class="btn btn-primary btn-lg">Takaisin etusivulle</a>
    </p>
</spa-view>
